.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 28px;
  cursor: pointer;

  &--orange {
    background-color: $second-color;

    &:hover {
      background-color: rgba(255, 110, 48, 0.85);
      color: rgba(255, 255, 255, 0.85);
    }

    &:active {
      background-color: rgba(255, 110, 48, 0.6);
      color: rgba(255, 255, 255, 0.6);
    }
  }

}