.subscribe__wrapper {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 553px;
  text-align: center;
}

.subscribe__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 25px;
}

.subscribe__text {
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 100px;
  padding-right: 25px;
  padding-left: 25px;
}